@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn --default;
}

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@theme {
  --font-fig: "Figtree", "sans-serif";
  --color-link: #336666;
  --breakpoint-720: 720px;
  --spacing-720: 720px;
  --spacing-main: calc(100% - 2em);
}
@layer base {
  body {
    @apply bg-base-200 text-base-content min-h-screen
           text-xl font-fig
           text-left wrap-break-word text-wrap
           flex flex-col;
  }

  article {
    @apply space-y-8;
    h2 {
      @apply pb-3;
    }
    h3 {
      @apply pb-5;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.5rem 0;
    color: rgb(var(--black));
    line-height: 1.2;
  }
  strong,
  b {
    font-weight: 700;
  }

  h1 {
    @apply font-bold text-5xl leading-14;
  }
  h2 {
    @apply font-semibold text-4xl leading-12;
  }
  h3 {
    @apply font-semibold text-3xl;
  }
  h4 {
    @apply text-2xl font-bold tracking-tight;
  }
  h5,
  h6 {
    @apply font-medium;
  }

  a {
    @apply text-cyan-800 font-medium hover:brightness-75 hover:underline underline-offset-4;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }
  table {
    width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  code {
    @apply px-1.5 py-[1px] rounded-sm bg-base-300 text-base-content text-nowrap;
  }
  ul {
    @apply list-disc pl-10;
  }
  pre {
    padding: 1.5em;
    border-radius: 8px;
  }
  pre > code {
    all: unset;
  }
  blockquote {
    @apply border-l-4 border-success px-4 py-2 bg-base-200 rounded;
  }
  hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
  }
  figcaption {
    @apply text-[15px] text-center pt-4 pb-8 p-0 sm:px-[10%] text-ellipsis;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
