---
import { Emoji } from "animated-fluent-emojis";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Page from "../components/Page.astro";
import { getCollection } from "astro:content";
import { getGallery } from "../content.config";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
const latestPost = posts.at(0)!;

const gallery = await getGallery();
const latestPhoto = gallery.at(0)!;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Page class="w-720 max-w-screen sm:max-w-main mx-auto">
      <section class="bg-base-100 rounded-b-lg rounded-r-lg space-y-6">
        <h1>
          <img
            class="inline h-18 -translate-y-1 mr-0.5"
            src="animated_emoji/crocodile.png"
            alt="ðŸŠ"
          />
          Welcome!
        </h1>
        <p>Hi, I'm Emma Dunn and this is my personal website.</p>
        <p>
          I'm a librarian interested in everything related to information
          science, technology and education. I also have a passion for nature
          and biology. <img
            class="float-right max-h-32 md:max-h-64 md:float-right inline translate-y-4 md:ml-2 mb-2 transition-all duration-500 ease-in-out"
            src="animated_emoji/parrot.png"
            alt="ðŸ¦œ"
          />
        </p>

        <p>
          Check out my <span>
            <a href={`/blog/${latestPost.id}/`}> latest blog post </a>
          </span> or my <span>
            <a href={`/gallery/${latestPhoto.id}/`}> latest photo. </a>
          </span>
        </p>

        Send me an
        <span><a href={`mailto:ed.lib@outlook.com`}>email</a></span>
        or shoot me a message on
        <span
          ><a href={`https://discord.gg/XFP2RrMQ9X`} target="_blank">Discord</a>
        </span>
        and subscribe to my
        <span>
          <a href="rss.xml" target="_blank">RSS feed</a>
        </span>
        so you never miss a post!
      </section>
    </Page>
  </body><Footer />
</html>
