---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Page from "../components/Page.astro";
import { getCollection } from "astro:content";
import { getGallery } from "../content.config";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
const latestPost = posts.at(0)!;

const gallery = await getGallery();
const latestPhoto = gallery.at(0)!;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Page class="w-720 max-w-screen sm:max-w-main mx-auto">
      <section class="bg-base-100 rounded-b-lg rounded-r-lg space-y-6">
        <h1>🐊 Welcome!</h1>
        <p>Hi, I'm Emma Dunn and this is my personal website.</p>
        <p>
          I'm a librarian interested in everything information science,
          technology and education. I also have a passion for nature and
          biology. 🌵
        </p>

        <p>
          Check out my <span>
            <a href={`/blog/${latestPost.id}/`}> latest blog post </a>
          </span> or my <span>
            <a href={`/gallery/${latestPhoto.id}/`}> latest photo. </a>
          </span>
        </p>

        Send me an
        <span><a href={`mailto:ed.lib@outlook.com`}>email</a></span>
        or shoot me a message on
        <span
          ><a href={`https://discord.gg/XFP2RrMQ9X`} target="_blank">Discord</a
          ><a href="rss.xml" target="_blank">RSS feed</a>
          so you never miss a post!
        </span>
      </section>
    </Page>
  </body><Footer />
</html>
