---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Page from "../components/Page.astro";
import { getCollection } from "astro:content";
import { getGallery } from "../content.config";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
const latestPost = posts.at(0)!;

const gallery = await getGallery();
const latestPhoto = gallery.at(0)!;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Page class="w-720 max-w-screen sm:max-w-main mx-auto">
      <section class="p-6 bg-base-100 rounded-b-lg rounded-r-lg">
        <h1>🐊 Welcome</h1>
        <br />
        <p>
          Welcome to the official landing page of <a href="/">ed.lib</a>! I'm
          Emma Dunn and this is my archive. It contains my blog posts as well as
          a gallery of my photographs. Feel free to stick around for a while,
          and make sure to check back later for more content.
        </p>
        <br />

        <p>
          I'm a librarian who is interested in everything information science,
          technology, and education related. I also have a passion for nature
          and biology. 🌵
        </p>
        <br />
        <p>
          Check out my <span>
            <a href={`/blog/${latestPost.id}/`}> latest blog post </a>
          </span> or my <span>
            <a href={`/gallery/${latestPhoto.id}/`}> latest photo. </a>
          </span>
        </p>
        <br />
        Send me an
        <span><a href={`mailto:ed.lib@outlook.com`}>email</a></span>
        or shoot me a message on
        <span
          ><a href={`https://discord.gg/XFP2RrMQ9X`} target="_blank">Discord</a
          ></span
        >!
      </section>
    </Page>
    <Footer />
  </body>
</html>
