---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header
  class="pt-6 sm:pt-12 md:pt-18 lg:pt-24 transition-all ease-in-outs duration-200"
>
  <nav class="space-x-4 h-fit flex">
    <HeaderLink class="underline-offset-4" href="/">Home</HeaderLink>
    <HeaderLink class="underline-offset-4" href="/blog">Blog</HeaderLink>
    <HeaderLink class="underline-offset-4" href="/about">About</HeaderLink>
  </nav>
</header>
