---
import Header from "./Header.astro";

interface Props {
  class?: string;
}

const { class: classes } = Astro.props;
---

<main class:list={["relative mx-auto max-w-full xl:max-w-7xl", classes]}>
  <Header class="relative z-0" />
  <div class="bg-base-100 p-8 sm:p-12 rounded-2xl -mt-10 relative z-10">
    <slot />
  </div>
</main>
